@using CookLook.Models;
@using CookLook.Services;
@page "/"
@inject IRecipeSearchService recipeSearchService;

<h1>Search for a recipe</h1>

@if (recipes == null)
{
    <p><em>Waiting for your delicious input...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hit in recipes.Hits)
            {
                <tr>
                    <td>@hit.Recipe.Label</td>
                    <td><a href="@hit.Recipe.Url" target="_blank">@hit.Recipe.Url</a></td>
                  
                </tr>
            }
        </tbody>
    </table>
}
<input type="text" @bind-value="@searchTerm" />
<input type="button" value="Search" @onclick="@SearchRecipes" />





@code {


    private string searchTerm;
    private RecipeList recipes;

    async Task SearchRecipes()
    {
        recipes = await recipeSearchService.SearchRecipesAsync(searchTerm);
    }
}